In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import seaborn as sns

In [2]:
data = pd.read_csv('cses4_cut.csv')

In [3]:
data.head()

,Unnamed: 0,D2002,D2003,D2004,D2005,D2006,D2007,D2008,D2009,D2010,...,D2024,D2025,D2026,D2027,D2028,D2029,D2030,D2031,age,voted
0,0,1,4,4,2,2,9,9,9,1,...,9,9,8300,121,8,999,999,4,31,True
1,1,2,3,1,2,2,9,9,9,8,...,6,9,1101,121,12,999,999,4,42,True
2,2,2,2,1,2,2,9,9,9,7,...,5,9,1101,121,2,999,999,4,67,True
3,4,2,4,4,2,2,9,9,9,5,...,9,9,8300,121,2,999,999,4,26,False
4,5,1,6,4,1,1,9,9,9,1,...,1,9,1101,121,2,999,999,4,55,True

In [4]:
data.shape

(12451, 33)

In [5]:
data.describe

<bound method NDFrame.describe of        Unnamed: 0  D2002  D2003  D2004  D2005  D2006  D2007  D2008  D2009  \
0               0      1      4      4      2      2      9      9      9
1               1      2      3      1      2      2      9      9      9
2               2      2      2      1      2      2      9      9      9
3               4      2      4      4      2      2      9      9      9
4               5      1      6      4      1      1      9      9      9
...           ...    ...    ...    ...    ...    ...    ...    ...    ...
12446       74253      2      4      1      2      2      9      9      9
12447       74254      1      3      1      2      2      9      9      9
12448       74255      2      6      2      2      2      9      9      9
12449       74256      2      7      1      2      1      9      9      9
12450       74257      1      4      1      2      2      9      9      9

       D2010  ...  D2024  D2025  D2026  D2027  D2028  D2029  D2030  D2031  \
0          1  ...      9      9   8300    121      8    999    999      4
1          8  ...      6      9   1101    121     12    999    999      4
2          7  ...      5      9   1101    121      2    999    999      4
3          5  ...      9      9   8300    121      2    999    999      4
4          1  ...      1      9   1101    121      2    999    999      4
...      ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
12446      1  ...      1      9   1211    999     55      1    999      9
12447      9  ...      1      9   8300    999     17      1    999      9
12448      1  ...      4      9   1211    999     19      1    999      9
12449      1  ...      6      9   1210    999     25      1    999      9
12450      2  ...      1      9   1208    999     55      1    999      9

       age  voted
0       31   True
1       42   True
2       67   True
3       26  False
4       55   True
...    ...    ...
12446   62   True
12447   65   True
12448   61   True
12449   53   True
12450   73   True

[12451 rows x 33 columns]>

In [6]:
# from this survey result, it seems like that D2006 to D2009 has similiar value and same order.

In [7]:
for column in data:
    print(column)
    print(data[column].value_counts())
    print('-----------------')

Unnamed: 0
0        1
53890    1
53866    1
53868    1
53869    1
        ..
27738    1
27739    1
27740    1
27742    1
74257    1
Name: Unnamed: 0, Length: 12451, dtype: int64
-----------------
D2002
2    6623
1    5828
Name: D2002, dtype: int64
-----------------
D2003
4     4297
2     2184
3     2160
7     1214
1      766
5      572
6      565
8      436
96     168
9       49
97      20
99      18
98       2
Name: D2003, dtype: int64
-----------------
D2004
1    7607
4    2592
3     857
9     738
2     621
7      27
8       9
Name: D2004, dtype: int64
-----------------
D2005
2    10472
9     1108
1      789
8       54
7       28
Name: D2005, dtype: int64
-----------------
D2006
2    9552
9    2206
1     564
8      90
7      39
Name: D2006, dtype: int64
-----------------
D2007
9    7086
2    5211
1      93
8      42
7      19
Name: D2007, dtype: int64
-----------------
D2008
9    7087
2    5192
1     113
8      41
7      18
Name: D2008, dtype: int64
-----------------
D2009
9    7086
2    5145
1     159
8      43
7      18
Name: D2009, dtype: int64
-----------------
D2010
1     6068
7     1827
8     1626
5      909
2      708
6      466
9      279
3      229
10     186
4       49
97      42
11      40
98      19
99       3
Name: D2010, dtype: int64
-----------------
D2011
999    7566
522     387
911     230
931     151
832     137
       ...
111       2
224       1
951       1
225       1
633       1
Name: D2011, Length: 131, dtype: int64
-----------------
D2012
9    6556
2    2097
1    1926
4    1347
3     418
7      89
8      18
Name: D2012, dtype: int64
-----------------
D2013
9    5227
2    4617
1    1469
5     893
4     105
3      45
7      43
8      37
6      15
Name: D2013, dtype: int64
-----------------
D2014
9    5398
3    4719
2    1565
1     471
4     165
7      80
8      53
Name: D2014, dtype: int64
-----------------
D2015
99    7063
1     2473
7      906
8      763
12     604
5      170
97     108
10      88
2       88
9       66
6       44
98      29
11      26
4       16
3        7
Name: D2015, dtype: int64
-----------------
D2016
999    10444
522       90
911       88
931       61
997       57
       ...
323        1
621        1
213        1
212        1
835        1
Name: D2016, Length: 124, dtype: int64
-----------------
D2017
9    10481
1      899
2      844
4      122
7       57
3       34
8       14
Name: D2017, dtype: int64
-----------------
D2018
9    9214
2    1757
1     773
5     570
4      58
7      34
8      26
3      10
6       9
Name: D2018, dtype: int64
-----------------
D2019
9    9132
3    2125
2     774
1     194
4     114
7      58
8      54
Name: D2019, dtype: int64
-----------------
D2020
1    2228
2    2054
4    1964
5    1888
3    1759
7    1229
8     947
9     382
Name: D2020, dtype: int64
-----------------
D2021
4     2360
3     2281
2     2158
99    1887
5     1290
1     1131
6      625
7      294
8      172
9       77
10      52
97      26
11      26
12      21
98      10
0       10
15       8
14       8
13       7
20       3
16       3
17       2
Name: D2021, dtype: int64
-----------------
D2022
0     3697
99    3417
1     2321
2     1894
3      598
4      266
5       99
6       56
97      35
7       23
98      17
8       15
10       4
9        4
11       2
17       1
18       1
16       1
Name: D2022, dtype: int64
-----------------
D2023
0     5698
99    4048
1     1813
2      651
3      145
4       28
97      25
98      18
5       16
6        7
10       2
Name: D2023, dtype: int64
-----------------
D2024
6    3133
2    2569
1    2009
3    1730
4    1562
5    1104
9     239
7      55
8      50
Name: D2024, dtype: int64
-----------------
D2025
3    3669
9    3137
2    2539
4    1629
1    1391
8      53
7      33
Name: D2025, dtype: int64
-----------------
D2026
1101    6615
8300    1386
1600     863
1200     789
1298     738
1000     376
1203     347
1210     149
9600     132
1201     131
3000      89
3100      86
1209      79
1300      71
7200      66
1599      61
9997      60
1208      57
1215      48
7100      40
9998      34
1504      31
1211      28
1502      20
1102      19
2000      18
1212      15
9004      13
4000      13
1206      10
9999      10
1503       8
1699       7
5000       5
8200       5
9001       5
3200       5
1214       4
9003       3
9007       3
9006       2
7901       2
7900       2
8100       1
1501       1
9002       1
1299       1
9005       1
1213       1
Name: D2026, dtype: int64
-----------------
D2027
999    4823
121    3549
36     1843
106     949
222     255
980     178
981     118
983      97
984      79
982      68
995      61
996      58
989      53
987      52
49       49
986      38
221      35
992      29
991      27
988      23
32       22
12       21
103       9
997       4
990       2
998       2
993       2
994       2
985       1
44        1
134       1
Name: D2027, dtype: int64
-----------------
D2028
4     2100
2     1514
99    1103
1      864
5      830
6      754
8      593
15     549
3      477
12     361
13     290
7      281
21     237
18     224
20     204
48     183
14     177
9      155
10     142
16     117
11     109
17     108
22     102
42     101
37      87
36      75
19      70
39      65
25      63
45      60
53      49
26      45
34      42
35      35
51      29
27      29
47      27
55      26
41      25
24      20
40      20
29      20
23      19
49      11
44      11
30      11
31      10
28       9
32       9
54       9
Name: D2028, dtype: int64
-----------------
D2029
999    5539
1      3460
2      1746
3      1557
4        62
5        52
998      14
997      12
6         9
Name: D2029, dtype: int64
-----------------
D2030
999    10072
1       1399
4        782
3        111
2         68
996       16
997        2
998        1
Name: D2030, dtype: int64
-----------------
D2031
9    4822
4    3671
1    2333
2    1290
3     335
Name: D2031, dtype: int64
-----------------
age
36     300
31     297
33     289
32     283
41     283
      ...
95       6
101      4
100      2
103      1
102      1
Name: age, Length: 81, dtype: int64
-----------------
voted
True     10226
False     2225
Name: voted, dtype: int64
-----------------

In [12]:
# Data Cleaning

In [14]:
data = data.drop(columns = ['Unnamed: 0'])

KeyError: "['Unnamed: 0'] not found in axis"

In [8]:
# proved that D 2007, D2008, D 2009 has very smiliar value and order, which is not meaningful for the research analysis. So I would drop out D2008, D2009 and Unnamed:0.
data = data.drop(columns = ['D2008','D2009']))

In [9]:
data.head()

,D2002,D2003,D2004,D2005,D2006,D2007,D2010,D2011,D2012,D2013,...,D2024,D2025,D2026,D2027,D2028,D2029,D2030,D2031,age,voted
0,1,4,4,2,2,9,1,422,1,2,...,9,9,8300,121,8,999,999,4,31,True
1,2,3,1,2,2,9,8,999,9,9,...,6,9,1101,121,12,999,999,4,42,True
2,2,2,1,2,2,9,7,818,2,2,...,5,9,1101,121,2,999,999,4,67,True
3,2,4,4,2,2,9,5,513,1,2,...,9,9,8300,121,2,999,999,4,26,False
4,1,6,4,1,1,9,1,235,1,1,...,1,9,1101,121,2,999,999,4,55,True

In [10]:
# To check the missing value
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12451 entries, 0 to 12450
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   D2002   12451 non-null  int64
 1   D2003   12451 non-null  int64
 2   D2004   12451 non-null  int64
 3   D2005   12451 non-null  int64
 4   D2006   12451 non-null  int64
 5   D2007   12451 non-null  int64
 6   D2010   12451 non-null  int64
 7   D2011   12451 non-null  int64
 8   D2012   12451 non-null  int64
 9   D2013   12451 non-null  int64
 10  D2014   12451 non-null  int64
 11  D2015   12451 non-null  int64
 12  D2016   12451 non-null  int64
 13  D2017   12451 non-null  int64
 14  D2018   12451 non-null  int64
 15  D2019   12451 non-null  int64
 16  D2020   12451 non-null  int64
 17  D2021   12451 non-null  int64
 18  D2022   12451 non-null  int64
 19  D2023   12451 non-null  int64
 20  D2024   12451 non-null  int64
 21  D2025   12451 non-null  int64
 22  D2026   12451 non-null  int64
 23  D2027   12451 non-null  int64
 24  D2028   12451 non-null  int64
 25  D2029   12451 non-null  int64
 26  D2030   12451 non-null  int64
 27  D2031   12451 non-null  int64
 28  age     12451 non-null  int64
 29  voted   12451 non-null  bool
dtypes: bool(1), int64(29)
memory usage: 2.8 MB

In [11]:
# apply OneHotEncoder on categorical feature columns
X_ohe = ohe.fit_transform(X) # It returns an numpy array

NameError: name 'ohe' is not defined